*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    z-index: -1;
    overflow-x: hidden;
}
.container{
    padding: 100px;
    width: 100vw;
    max-height: 100vw;
    background-color: white;
    transition: transform 0.5s;
    /* 过度转换，没有宽高造成奇怪效果 */
}
.round{
    transform: rotate(-20deg);
    transform-origin:top left;
    /* 设定旋转中心 */
}
.round_end{
    transform: rotate(0deg);
    transform-origin: top left;
    /* 变换过后的旋转中心不变 */
    /* 并且按照的是变换之前的位置进行旋转 */
}
.content{
    margin: 50px 100px;
}
.passage1,
.passage2{
    margin: 10px 0;
}

img{
    height: 666px;
    margin: 10px 0;
}
.circle{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 999;
    left: -100px;
    top:-100px;
    background-color: pink;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s;
}
.change{
    transform: rotate(-90deg);
}
.background{
    position: relative;
    z-index: -1;
    background-color: gray;
    width: 100vw;
    max-height: 100vw;
}
#cancel,
#menu{
    color: white;
    font-size: 30px;
    cursor: pointer;

}
#cancel{
    position: absolute;
    bottom: 0;
    transform: translate(40px,-40px);
}
#menu{
    font-size: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-40px,-38px);
}
.menu{
    list-style: none;
    position: fixed;
    bottom: 0;
    left: -160px;
    z-index: 999;
    transition: left 0.4s;
}
.menu li{
    margin: 30px 0;
    font-size: larger;
    cursor: pointer;
    transition: left 0.5s ease 0.2s;
    color: white;

}
.menu li i{
    font-size: larger;
    padding-right: 10px;
}
.side-menu{
    color: white;
}
#side-menu2{
    padding-left: 15px;
}
#side-menu3{
    padding-left: 30px;
}